<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
{% load staticfiles %}
<body>


    <div id="all">

        <header>

            <!-- *** TOP ***
_________________________________________________________ -->


            <!-- *** TOP END *** -->
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">Contact us on $$$$$$$$$$$ or ########</p>
                            <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <div class="col-xs-7">


                        <div class="login">
                                <a href="/store/login-register/"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Register/Login</span></a>
                         </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- *** NAVBAR ***
    _________________________________________________________ -->

            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand home" href="index.html">
                                <img src="" alt="Logo" class="hidden-xs hidden-sm">
                                <img src="/static/img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Xchange</span>
                            </a>
                            <div class="navbar-buttons">
                                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
                            </div>
                        </div>
                        <!--/.navbar-header -->

                         <div class="navbar-collapse collapse" id="navigation">

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/">HOME </a>
                                </li>
                               <li>
                                    <a href="/features" class="dropdown-toggle" data-toggle="dropdown">FEATURES <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/features/#books">BOOKS AND EQUIPMENTS</a>
                                        </li>
                                        <li><a href="/features/#testpapers">TEST PAPERS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown active">
                                    <a href="/faq" class="dropdown-toggle active" >FAQ</a>
                                </li>
                                <li>
                                    <a href="/contact" class="dropdown-toggle" >CONTACT US</a>
                                </li>
                                <li>
                                    <a href="/team" class="dropdown-toggle" >OUR TEAM</a>
                                </li>

                                <!-- ========== FULL WIDTH MEGAMENU END ================== -->
                            </ul>

                        </div>
                        <!--/.nav-collapse -->



                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>


                </div>
                <!-- /#navbar -->

            </div>

            <!-- *** NAVBAR END *** -->

        </header>



        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>FAQ</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Frequently asked questions</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <div class="row">
  
                                        <div class="col-md-9 clearfix">
                        <section>

                            <div class="panel-group" id="accordion">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#faq1">

                            1. What to do if I have still not received the order?

                        </a>

                        </h4>
                                    </div>
                                    <div id="faq1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Contact details of the seller have been provided with every purchase, you can directly get in touch with them to enquire about the order.</p>
                                        </div>
                                    </div>
                                </div>
                     
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">

                            2. What are the postal rates?

                        </a>

                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Since most purchases are in-house (within the college), we do not feel the necessity of including a postal service. 
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel -->


                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

                            3. Do you deliver?

                        </a>

                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Since most purchases are in-house (within the college), we do not feel the necessity of a delivery system. Orders can be placed on the website, and the books can be passed over by hand after fixing up the details with the seller.
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel -->

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#faq4">

                            4. What if the book is not in good condition?

                        </a>

                        </h4>
                                    </div>
                                    <div id="faq4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>In such a scenario, it is upto the buyer to decide whether or not to go ahead with the purchase. It is most likely that such a situation will not arise, since this platform ensures quality services.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel -->

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#faq5">

                            5. Is there a rental facility?

                        </a>

                        </h4>
                                    </div>
                                    <div id="faq5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Since the primary purpose of the platform is to enable sale of old books and equipment, there is no rental facility.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel -->
                                    <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                        <a data-toggle="collapse" data-parent="#accordion" href="#faq6">

                            6. Is this facility available inter-college?

                        </a>
                        </h4>
                                    </div>
                                    <div id="faq6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Currently, it's only intra-college. We will be soon implementing it within different colleges who are ready to collaborate.</p>
                                        </div>
                                    </div>
                                </div>
                                   
                            </div>
                            <!-- /.panel-group -->

                        </section>

                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                     <div class="col-sm-3">
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">OUR SERVICES</h3>
                            </div>

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="/features/#books">BOOKS AND EQUIPMENTS</a>
                                    </li>
                                    <li>
                                        <a href="/features/#testpapers">TEST PAPERS</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Contact US</h3>
                            </div>

                            <div class="panel-body">
                            <p class="text-muted">In case you haven't found the answer for your question please feel free to <a href="/contact">contact us</a>, our customer support will be happy to help you.</p>
                               <a href="/contact" class="btn btn-small btn-template-main">Go to contact page</a>
                            </div>
                        </div>

                        <!-- *** PAGES MENU END *** -->
                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->



        <!-- *** FOOTER ***
_________________________________________________________ -->


        <!-- /#footer -->

        <!-- *** FOOTER END *** -->

        <!-- *** COPYRIGHT ***
_________________________________________________________ -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">&copy; 2015. Miloni Anushka Anant</p>
                                <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>

                </div>
            </div>
        </div>
        <!-- /#copyright -->

        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    <!-- #### JAVASCRIPT FILES ### -->

{% include 'scripts.html' %}



</body>

</html>
