<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
{% load staticfiles %}
<body>

    <div id="all">


        <header>

            <!-- *** TOP ***
_________________________________________________________ -->


            <!-- *** TOP END *** -->
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">Contact us on $$$$$$$$$$$ or ########</p>
                            <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <div class="col-xs-7">


                            <div class="login">
                                <a href="/store/login-register/"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Register/Login</span></a>
                           </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- *** NAVBAR ***
    _________________________________________________________ -->

            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand home" href="index.html">
                                <img src="" alt="Logo" class="hidden-xs hidden-sm">
                                <img src="/static/img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Xchange</span>
                            </a>
                            <div class="navbar-buttons">
                                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
                            </div>
                        </div>
                        <!--/.navbar-header -->

                         <div class="navbar-collapse collapse" id="navigation">

                           
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/">HOME </a>
                                </li>
                               <li class="dropdown active">
                                    <a href="/features" class="dropdown-toggle" data-toggle="dropdown">FEATURES <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/features/#books">BOOKS AND EQUIPMENTS</a>
                                        </li>
                                        <li><a href="/features/#testpapers">TEST PAPERS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/faq" class="dropdown-toggle active" >FAQ</a>
                                </li>
                                <li>
                                    <a href="/contact" class="dropdown-toggle" >CONTACT US</a>
                                </li>
                                <li>
                                    <a href="/team" class="dropdown-toggle" >OUR TEAM</a>
                                </li>

                                <!-- ========== FULL WIDTH MEGAMENU END ================== -->
                            </ul>


                        </div>
                        <!--/.nav-collapse -->



                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>


                </div>
                <!-- /#navbar -->

            </div>

            <!-- *** NAVBAR END *** -->

        </header>

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>FEATURES OFFERED</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="indexreplica.html">Home</a>
                            </li>
                            <li><a href="portfolio-detail-2-replica.html">Features</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="books">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <div class="heading">
                            <h1>Books and Equipment</h1>
                        </div>

                        <p class="lead">Old books and equipment related to engineering drawing can be sold with the help of this system. The seller can upload his products, and a buyer can browse through the list of available products to choose his required books.</p>
                    </div>
                </div>
                <div class="row portfolio-project">

                    <section>

                        <div class="col-sm-8">
                            <div class="project owl-carousel">
                                <div class="item">
                                    <img src="/static/img/ss1.png" alt="" class="img-responsive">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/static/img/ss2.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/static/img/ss3.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/static/img/ss6.png" alt="">
                                </div>
                            </div>
                            <!-- /.project owl-slider -->

                        </div>

                        <div class="col-sm-4">
                            <div class="project-more">
                                 <h4>Departments</h4>
                                <p>Computers, IT, EXTC, Mechanical etc.</p>
                                <h4>Services</h4>
                                <p>Textbooks, reference books, ED equipment etc.</p>
                                <h4>Subjects</h4>
                                <p>Data Structures, ED, Thermodynamics, Applied Maths etc.</p>
                            </div>
                        </div>

                    </section>

                    <section>

                        <div class="col-sm-12">

                            <div class="heading">
                                <h3>Books and Equipment Description</h3>
                            </div>

                            <p>A comprehensive list of textbooks and reference books uploaded by various sellers has been provided. Buyers can browse for their requirements, or have a look at the suggestions provided considering their year and departmment. An order can then be placed with the seller. In case of multiple buyers, first come first serve policy will be used. The buyer details will be sent to the seller. They can get in touch with each other and fix up the details of the purchase.</p>
                        </div>
                    </section>

                </div>

                <section>
                    <div class="row portfolio">

                        <div class="col-md-12">
                            <div class="heading">
                                <h3>SOME AVAILABLE BOOKS</h3>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                                <div class="box-image">
                                <div class="image">
                                    <img src="/static/img/books/compssem3/dlda-comps.png" alt="" class="img-responsive" style="max-height: 600px;max-width: 250px;">
                                </div>
                                <div class="bg"></div>
                                
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image" >
                                    <img src="/static/img/books/compssem4/cg-comps.jpg" alt="" class="img-responsive" style="max-height: 600px;max-width: 250px;">
                                </div>
                                <div class="bg"></div>
                               
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="/static/img/books/compssem4/aoa-comps.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                               
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="/static/img/books/compssem4/dbms2-comps.png" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                    </div>
                </section>

            </div>
            <!-- /.container -->


        </div>


        <div id="testpapers">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <br/>
                        <div class="heading">
                            <h1>TEST PAPERS</h1>
                        </div>

                       <p class="lead">Past year term test papers for all subjects and branches.</p>
                    </div>
                </div>
                <div class="row portfolio-project">

                    <section>

                        <div class="col-sm-4">
                            <div class="project-more">
                                <h4>Departments</h4>
                                <p>Computers, IT, EXTC, Mechanical etc.</p>
                                <h4>Services</h4>
                                <p>Previous year TT papers</p>
                                <h4>Subjects</h4>
                                <p>Data Structures, ED, Thermodynamics, Applied Maths etc.</p>
                            </div>
                        </div>



                        <div class="col-sm-8">
                            <div class="project owl-carousel">
                                <div class="item">
                                    <img src="/static/img/ss1.png" alt="" class="img-responsive">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/static/img/ss5.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/static/img/ss3.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="/static/img/ss4.png" alt="">
                                </div>
                            </div>
                            <!-- /.project owl-slider -->

                        </div>



                    </section>

                    <section>

                        <div class="col-sm-12">

                            <div class="heading">
                                <h3>Test Papers Description</h3>
                            </div>

                            <p>We all know the importance of past papers while preparing for examinations. Thus, we have put together this platform for easy access to a wide array of past year term test papers, which are not easily available on the internet since they are exclusive to each college and department. We have sorted it according to branch and year, to make the process a simplistic experience.</p>
                        </div>
                    </section>

                </div>

                <section>
                    <div class="row portfolio">

                        <div class="col-md-12">
                            <div class="heading">
                                <h3>SOME AVAILABLE PAPERS</h3>
                            </div>
                        </div>

                        
                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="/static/img/testpapers/testpaper1.jpeg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                               
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        
                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="/static/img/testpapers/testpaper2.jpeg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                               
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="/static/img/testpapers/testpaper3.jpeg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                               
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="/static/img/testpapers/testpaper4.jpeg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                               
                                <div class="text">
                                    <p class="buttons">
                                        <a href="/store/login-register/" class="btn btn-template-transparent-primary">Login to View</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                    </div>
                </section>

            </div>
            <!-- /.container -->


        </div>


        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">&copy; 2015. Miloni Anushka Anant</p>

                </div>
            </div>
        </div>



<!-- #### JAVASCRIPT FILES ### -->
{% include 'scripts.html' %}




</body>

</html>
