<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
{% load staticfiles %}
<body>

    <div id="all">


        <header>

            <!-- *** TOP ***
_________________________________________________________ -->


            <!-- *** TOP END *** -->
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">Contact us on $$$$$$$$$$$ or ########</p>
                            <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <div class="col-xs-7">


                          <div class="login">
                                <a href="/store/login-register/"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Register/Login</span></a>
                         </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- *** NAVBAR ***
    _________________________________________________________ -->

            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand home" href="index.html">
                                <img src="" alt="Logo" class="hidden-xs hidden-sm">
                                <img src="/static/img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Xchange</span>
                            </a>
                            <div class="navbar-buttons">
                                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
                            </div>
                        </div>
                        <!--/.navbar-header -->

                         <div class="navbar-collapse collapse" id="navigation">

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/">HOME </a>
                                </li>
                               <li>
                                    <a href="/features" class="dropdown-toggle" data-toggle="dropdown">FEATURES <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/features/#books">BOOKS AND EQUIPMENTS</a>
                                        </li>
                                        <li><a href="/features/#testpapers">TEST PAPERS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/faq" class="dropdown-toggle active" >FAQ</a>
                                </li>
                                <li>
                                    <a href="/contact" class="dropdown-toggle" >CONTACT US</a>
                                </li>
                                <li class="dropdown active">
                                    <a href="/team" class="dropdown-toggle" >OUR TEAM</a>
                                </li>

                                <!-- ========== FULL WIDTH MEGAMENU END ================== -->
                            </ul>

                        </div>
                        <!--/.nav-collapse -->



                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>


                </div>
                <!-- /#navbar -->

            </div>

            <!-- *** NAVBAR END *** -->

        </header>


		        <section>
		            <!-- *** HOMEPAGE CAROUSEL ***
		 _________________________________________________________ -->


		 <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Our team</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Our team</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

		<section>

            </br>
            </br>


            <div id="content">
            <div class="container" style="padding-left:90px;">

                <section>

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <!-- <a href="team-member.html"> -->
                                        <img src="/static/img/milo.jpg" alt="" class="img-responsive img-circle" style="text-align:center;">
<!--                                     </a>
 -->                                </div>
                                <h3><a href="team-member.html">Miloni Joshi</a></h3>
                                <p class="role">Founder</p>
                                <p class="role">Loves eating potatoes</p>

                            </div>
                            <!-- /.team-member -->
                        </div>

                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <a href="team-member.html">
                                        <img src="/static/img/anu.png" alt="" class="img-responsive img-circle" style="text-align:center;">
                                    </a>
                                </div>
                                <h3><a href="team-member.html">Anushka Gangwal</a></h3>
                                <p class="role">Co-Founder</p>
                                <p class="role">Loves laughing like a maniac.</p>

                            </div>
                            <!-- /.team-member -->
                        </div>
                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <div class="team-member">
                                <div class="image">
                                    <a href="team-member.html">
                                        <img src="/static/img/anant.jpg" alt="" class="img-responsive img-circle" style="text-align:center;">
                                    </a>
                                </div>
                                <h3><a href="team-member.html">Anant Joshi</a></h3>
                                <p class="role">Tech Head</p>
                                <p class="role">Loves cracking PJ's</p>

                            </div>
                            <!-- /.team-member -->
                        </div>
                    </div>
                    <!-- /.row -->

                </section>

            </div>

        </section>

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">&copy; 2015. Miloni Anushka Anant</p>

                </div>
            </div>
        </div>
        <!-- /#copyright -->

        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->

    <!-- #### JAVASCRIPT FILES ### -->
    {% include 'scripts.html' %}
</body>

</html>
